@import url("https://fonts.googleapis.com/css2?family=Gabarito&display=swap");

:root {
  --gitty-dark: #080808;
}

/* Resets */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: #eaeaea;
  font-family: "Gabarito", sans-serif;
  color: var(--gitty-dark);
}
